<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Power Palace | <%= title %></title>    
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <link rel="shortcut icon" href="/favicon.svg" type="image/x-icon">
</head>