<nav> 
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/category">Categories</a></li>    
        <li><a href="/catalog/new">New item</a></li>
        <li><a href="/category/new">New category</a></li>    
    </ul>     
</nav>