<!DOCTYPE html>
<%- include("./partials/head.ejs") %>
<html>
  <body>
    <%- include("./partials/header.ejs") %>
    <main>    
        <div class="container">        
            <div class="error">
                <h1>404</h1>
                <h2>Page not found!</h2>
            </div>
        </div>
    </main>
  </body>
</html>