@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/

/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  display: block;
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

body {
  font-family: 'Exo 2', sans-serif;
}

:root {
  --fs-default: 1rem;
  --fs-medium: calc(var(--fs-default) * 1.25);
  --fs-big: calc(var(--fs-default) * 2);
  --fs-large: calc(var(--fs-default) * 3);

}

header,nav ul{
  display: flex;
  align-items: center;
}

nav ul {
  gap: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

header {
  padding: 2rem;
  background-color: black;
  color: white;
  justify-content: space-between;
}

main {
  width: 100%;
}

.container {
  width: min(90%, 90rem);
  margin: 2rem auto;
}

.logo h1 {
  font-size: var(--fs-big);
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .3rem;
}

.logo p, .item h3, span a, span h3 {
  font-style: italic;  
  letter-spacing: .1rem;
  opacity: .5;  
}

.item h3:first-child {
  margin-left: 1ch;
}


.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}

.item {
  padding: 1rem;
  background-color: 	silver;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  transition: all .5s ease-in-out;

}

.item:hover {
  cursor: pointer;
  background-color: grey;
  transition: all .3s ease-in-out;
}

.item  > * {
  margin-bottom: 1rem;
}

.item div:nth-child(3) {
  display: flex;  
}

.item h1 {
  font-size: var(--fs-medium);
  font-weight: 600;
}

.item  h2, .price h2, .price input:first-child {
  font-weight: 500;
  font-size: var(--fs-medium);
}

.item  h3 {
  margin-block: auto;
  margin-left: .3rem;
}

.item p {
  display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
   overflow: hidden;
   opacity: .8;
}

span:not(.price span) {
  display: flex;
  gap: .5rem;
  padding: .5rem;
}

span a:hover {
  cursor: pointer;
  opacity: 1 !important;
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
}

.item-big h1,  .form-name{
  font-size: var(--fs-big);
  font-weight: 600;
  margin-bottom: 1rem;
}


.price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btns {
  justify-content: flex-end;
  gap: 2rem;
  flex-wrap: wrap;
  padding-block: 1rem;
  display: flex;
}

.btns a, .btns button {
  text-transform: uppercase;
  opacity: .7;
  font-size: var(--fs-medium);
}

.btns a:hover, .btns button:hover {
  cursor: pointer;
  opacity: 1;
}

.btns a:hover:last-child {
  color: red;
}
input, textarea {
  transition: all .5s ease-in-out;
  border-bottom: 1px solid gray
}

input:focus, textarea:focus {
  transition: all .5s ease-in-out;
  background-color: grey;
  border-radius: 1rem;
  padding: .5rem;
}

select {
  border-bottom: 1px solid gray;
  width: min-content;

}


textarea {  
  white-space: pre-wrap;
}

input[type=number] {
  text-align: center; 
}

.price h3 {
  opacity: .6;
}

.price input {
  max-width: 10ch;
  margin-right: 1rem;
}

.category-prev {
  border-radius: .3rem;
}

.category-prev h1 {
  border-bottom: 1px solid black;
}

.category .items {
  grid-template-columns: 1fr;
}

.category .header h1, .category-update .name  {
  font-size: var(--fs-large);
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.category .header p {
  margin-left: 1rem;
}

.category .header {
  background-color: gainsboro;
  border-radius: 1rem;
  border: 5px solid black;
  padding: 1rem;
}
.category .item {
  opacity: .7;
}
.category .item:hover {
  opacity: 1;
}

.category .btns a:not(.category-update .btns a){
  font-size: var(--fs-default);
}

.category .header > div:first-child {
  display: flex;
  justify-content: space-between;
}

.btns-mobile {
  display: none;
}



@media (max-width: 34rem) {
  header {
    flex-direction: column;
    text-align: center;
  }

  header h1 {
    margin-bottom: 1rem;
  }

  header p {
    display: none;
  }

  .items {    
    grid-template-columns: 1fr;
  }

  .price {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    
  }
  
  .price-update {
    flex-direction: column;
    gap: 1rem;
  }

  .price input {
    max-width: 100%;
  }

  .item-big {
    text-align: center;
  }
  

  form > * {
    margin-bottom: 2rem;
  }

  .btns {
    justify-content: center;
  }

  .btns-desktop {
    display: none;
  }
  .btns-mobile {
    display: flex;
  }
}






